
.point-list-index {
    -fx-padding: 5px;
    -fx-background-color: aquamarine;
    -fx-background-radius: 15%;
}

.point-list-delete {
    -fx-padding: 5px;
    -fx-font-size: 13pt;
    -fx-text-fill: white;
    -fx-background-color: red;
}

.point-list-input {
    -fx-max-width: 100px;
    -fx-padding: 5px;
}

.point-list-edit {
    -fx-padding: 5px;
    -fx-font-size: 13pt;
    -fx-background-color: peru;
    -fx-text-fill: white;
}